body {
  font-family: Arial, Helvetica, sans-serifx;
  background-color :white;
}

.form-signin input[type="email"] {
  margin-bottom: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Recent Stories header for home page */
.recent-stories{
text-align: center;
font-family: Merriweather;
MARGIN-TOP: -32PX;
color: black

/* Logo text */
.navbar-brand {
color: #fff;
font-family: Merriweather;
margin-inline-start: 14px;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/*------------------------------ End of the styling for the index page------------------------------------ */

/* Dashboard Styles*/
.body-dbpg {
  font-family: Arial, Helvetica, sans-serifx;
  background-color :white;
}
.form-article {border: 3px solid whitesmoke;}

.main-dbpg{
  margin-top: 60px;
}

.form-signin button {
  background-color: #4c77af;
  color:whitesmoke;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  border-radius: 12px;
  font-size: 16px
}

button:hover {
  opacity: 0.8;
}
