/* Dashboard Styles*/
.body-dbpg {
  font-family: Arial, Helvetica, sans-serifx;
  background-color :white;
}
.form-article {border: 3px solid whitesmoke;}

.main-dbpg{
  margin-top: 60px;
}

.article-main{
  margin-top: 80px;
  width: 80%
}

.form-newarticle{
  margin-top: 25px;
}

.form-signin input[type="email"] {
  margin-bottom: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.btn-dbpg {
  background-color: rgba(68, 109, 84, 0.467);
  color:whitesmoke;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  border-radius: 12px;
  font-size: 16px
}

btn-dbpg:hover {
  opacity: 0.8;
}

/* Dashboard Styles*/
