/* Dashboard Styles*/
.body-dbpg {
  font-family: Arial, Helvetica, sans-serifx;
  background-color :white;
}
.form-article {border: 3px solid whitesmoke;}

.main-dbpg{
  margin-top: 60px;
/* ------------------------------Start of the styling for the index page ----------------------------------------- */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Size of image placeholder in Recent Stories section */
.home-newsthumbnail img{
width: 100%;
height: 225px;
 
}

/* Recent Stories header for home page */
.recent-stories{
text-align: center;
font-family: Merriweather;
MARGIN-TOP: -32PX;
color: black

}

.btn-dbpg {
  background-color: rgba(68, 109, 84, 0.467);
  color:whitesmoke;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  border-radius: 12px;
  font-size: 16px
}

btn-dbpg:hover {
  opacity: 0.8;
}

/* Dashboard Styles*/
/* Logo text */
.navbar-brand {
color: #fff;
font-family: Merriweather;
margin-inline-start: 14px;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/*------------------------------ End of the styling for the index page------------------------------------ */

